@import url(./reset.css);

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

header>div {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 30px 0;
}

header>div>h1 {}

header>div>h1>a {
    font-size: 30px;
    color: black;
}

header>div>h2>a {
    font-size: 20px;
    color: black;
    justify-content: center;
}

header>div>nav {}

header>div>nav>a {
    color: black;
    font-size: 20px;
    padding: 0 20px;
}

/*===================header===============*/


.main {
    text-align: center;

}

.spot {
    background: url('../imgs/img.main..jpg') 0 0 /cover no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spot>div>b {
    font-size: 80px;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.spot>div>p {
    font-size: 40px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 50px;
}


.spot>div>a {
    border: 1px solid black;
    display: inline-block;
    padding: 30px 30px;
    background-color: palevioletred;
    font-size: 50px;
    border-radius: 50%;
}


/*==================
.about .contents{
    display: flex;
    justify-content: space-between;  
    text-align: center;
    font-size: 50px;
    flex-wrap: wrap;
    align-items: center;
    
}

.about .title{
    border: 1px soild black;
}


.about .contents > figure>p{
    width: 500px; height: 160px;
    margin: 500px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
      align-items: center;
}


.about .contents > figure>p>img{
   width: 1000px; height: 1000px;
   padding: 100px;
     align-items: center;
}


.title>h2{
    font-size: 50px;
    border: 1px solid black;
    padding: 100px;
    margin: 100px;
    
}
=================================================*/

.about {
    padding: 100px 0;
    background-color: #eee;
    text-align: center;
    justify-content: space-between;
    display: inline-block;
    background-color: palegoldenrod;
}


.about .title,
.about .contents {
    width: 1300px; margin: 0 auto;

}

.about .contents {

    display: flex;
    justify-content: center;
    
    gap: 30px;
    
   
}
.about .contents>figure {

    flex: 0 0 32%;

}
.about .title>.contents>h2{
    font-size: 100px;
}


.about .contents>figure>p>img {
    width: 100%; 
    transition: 0.5s;
    margin: 30px auto 0 auto;
    padding: 50px 0;
    
}

.about .contents>figure:hover>p>img{
    transform: scale(1.2);
    transition: 0.5s;
}




   













/*
===========================================================================
=========================portfolio=========================================
===========================================================================
*/


 







    
    


