  body{margin:0;}
    *{box-sizing: border-box;}
    img{vertical-align: middle;}
    a{color:red; text-decoration: none;}
    ul,li{margin:0; padding:0; list-style-type:none;}
    h1,h2,h3,p,figure{margin:0;}
    table{border-collapse: collapse;}
